
<view-header-comp [headerArr]="['用户管理']" ></view-header-comp>
<!--<zm_search_box [label]=" '项目查询'" [placeholder]="'编号/名称'" [(zmValue)]="viewData.queryParam" (callBack)="queryListByNumOrName()"></zm_search_box>-->
<view-body-comp>
  <content>
    <table class="table text-center mg-t-25">
      <thead>
      <th>用户账号</th>
      <th>信息描述</th>
      </thead>
      <tbody>
      <tr class="c-tr">
        <td>admin</td>
        <td>系统管理员</td>
      </tr>
      </tbody>
    </table>
  </content>
</view-body-comp>


