.c-input-data {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: 2px solid #dadfe6;
  border-right: none;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  margin-left: 10px;
  outline: none;
  width: 150px;
}
.c-client-data {
  outline: none;
  height: 30px;
  padding: 0 10px;
  background-color: #fff;
  border: 2px solid #dadfe6 !important;
  border-top-left-radius: 0 !important;;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.c-client-data:focus {
  border-color: #dadfe6;
}
